<title>Password Reset | stpete.io</title>
<div id="home">
  <div id="menu" class="menu-right">
    <ul>
      <% if !signed_in? %>
        <li><a href="#" data-toggle="modal" data-target="#loginModal">Post A Job</a></li>
      <% else %>
        <li><%= link_to 'Sign Out', session_sign_out_path, method: :delete %></li>
      <% end %>
      <% if current_page?(root_path) == false %>
        <li><%= link_to 'Home', root_path %></li>
      <% end %>
    </ul>
  </div>

  <div id="wrap">
    <div id="main-nav" class="">
      <div class="container">
        <div class="nav-header">
            <a class="menu-link nav-icon" href="#"><i class="icon-menu2"></i></a>
          </div>
      </div>
    </div>

    <section id="hero" class="light-typo">
      <div id="cover-image" class="image-bg2 animated fadeIn"></div>
      <div class="container welcome-content">
        <div class="middle-text">
          <h1>Forgot Your Password?</h1>
          <h2>Reset it here.</h2>
        </div>
      </div>
    </section>

    <div class="container content">
      <div class="col-md-8">
        <%= flash_messages %>
        <%= form_tag password_resets_path, id: "emailForm", class: "form-horizontal", :method => :post do %>
          <div class="form-group">
            <label class="col-xs-3 control-label">Email</label>
              <div class="col-xs-8">
                <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "name@example.com" %><br><%= submit_tag "Reset Password", class: "btn btn-primary"%>
              </div><br>
          </div>
        <% end %>
      </div>
    </div>
  

<div class="modal fade login" id="loginModal" aria-hidden="true">
      <div class="modal-dialog login">
        <div class="modal-content">
         <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Login to post a job:</h4>
        </div>
        <div class="modal-body">
          <div class="box">
            <div class="form loginBox">
              <%= form_for(:session, url: session_sign_in_path, method: :post, class: "myform") do |f| %>
                <div class="form-group">
                  <label class="control-label"></label>
                  <div class="controls">
                    <%= f.email_field nil, class: "form-control", placeholder: "Email", name: "email", id: "email" %>
                  </div>
                  <div class="form-group">
                    <label class="control-label"></label>
                    <div class="controls">
                      <%= f.password_field nil, class: "form-control", name: "password", id: "password", placeholder: "Password" %>
                    </div>
                  <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember Me</span>
                  <% end %>
                  <p class="text-center"><%= link_to "Forgot password?", new_password_reset_path %></p>
                <%= f.submit "Login", class: "btn btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="forgot login-footer">
            <span>Need to
              <%= link_to "create an account", new_company_path %>
            ?</span>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<script>
$(document).ready(function() {
    $('#emailForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                    notEmpty: {
                        message: 'A valid email is required to reset your password.'
                    },
                    emailAddress: {
                        message: 'The value is not a valid email address.'
                    }
                }
            }
        }
    });
});
</script>