<div class="container">
  <h1>Sign In</h1>
  <%= bootstrap_form_tag url: session_sign_in_path, method: :post do |f| %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.submit "Login" %>
  <% end %>
</div>
