<title>St. Pete Job Board (SPJB) | stpete.io</title>
<meta name="Description" content="Free to post. Free to Search. St Pete Job Board. Putting St Pete back to work.">
<div id="home">
	<div id="menu" class="menu-right">
		<form class="menu-search" >
			<div class="form-group header">
				<i class="icon-search searchico"></i>
				<%= form_tag root_path([@company, @job_post]), :method => 'get' do %>
					<%= text_field_tag :search, params[:search], placeholder: "Search jobs..." %>
				<% end %>
				<a href="#" class="close-menu"><i class="icon-close"></i></a>
			</div>
		</form>
		<ul>
      <% if !signed_in? %>
      <li><a href="#" data-toggle="modal" data-target="#loginModal">Post A Job</a></li>
      <% else %>
      <li><%= link_to 'Sign Out', session_sign_out_path, method: :delete %></li>
      <% end %>
      <% if !root_path %>
				<li><%= link_to 'Home', root_path %></li>
			<% end %>
		</ul>
	</div>
	<div id="wrap">
		<div id="main-nav" class="">
			<div class="container">
				<div class="nav-header">
						<a class="menu-link nav-icon" href="#"><i class="icon-menu2"></i></a>
					</div>
			</div>
		</div>
		<section id="hero" class="light-typo">
			<div id="cover-image" class="image-bg animated fadeIn"></div>
			<div class="container welcome-content">
				<div class="middle-text">
					<%= image_tag('SPJB.png', class: 'center-block', id: 'logo') %>
					<h1>ST. PETE JOB BOARD</h1>
					<h2 class="typist"></h2>
          <%= link_to "Search Jobs", '#start', class: "btn smooth-scroll" %>
					<% if !signed_in? %>
						<a class="btn btn-blog outline-orange" href="#" data-toggle="modal" data-target="#loginModal">Post A Job</a>
					<% else %>
						<%= link_to "Post A Job", new_company_job_post_path(@current_user), class: "btn btn-blog outline-orange" %>
					<% end %>
				</div>
			</div>
		</section>
		<div id="start" class="container content">
			<div class="row">
        <div class="col-md-8">
					<%= flash_messages %>
					<article class="clearfix">
						<div class="row">
							<%= form_tag root_path([@company, @job_post]), class: "col-md-12 myform", :method => 'get', id: 'ajax_search' do %>
								<div class="input-group">
									<%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search jobs..." %>
									<span class="input-group-btn">
										<button class="btn" name="submit" type="submit">
											<span class="input-group-btn">Search</span>
										</button>
									</span>
								</div>
			        <% end %>
						</div>
            <div id="jobs">
							<%= render 'jobs' %>
						</div>
					</article>
				</div>
				<div class="col-md-4">
          <div class="middle-text">
						Featured Tweet:
						<blockquote class="twitter-tweet" lang="en"><p>We&#39;re hiring! See if we have a job just right for you: <a href="http://t.co/YxijN3pYpS">http://t.co/YxijN3pYpS</a> <a href="https://twitter.com/hashtag/StPete?src=hash">#StPete</a> <a href="https://twitter.com/hashtag/career?src=hash">#career</a> <a href="http://t.co/MgBaWd8ZnG">pic.twitter.com/MgBaWd8ZnG</a></p>&mdash; Northside Hospital (@NSH_StPete) <a href="https://twitter.com/NSH_StPete/status/582514313828573186">March 30, 2015</a></blockquote>
					</div>
        </div>
			</div><!-- end row -->
		</div>
			<footer>
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-sm-4 col-md-4 footer-widget">
								<h3>Statistics</h3>
								<div class="stats">
									<div class="line">
										<span class="counter"><%= @jobs.total_count %></span>
										<% if @jobs.total_count == 1 %>
											<span class="caption">Job</span>
										<% else %>	
											<span class="caption">Jobs</span>
										<% end %>	
									</div>
									<div class="line">
										<span class="counter"><%= @companies.count %></span>
										<% if @companies.count == 1 %>
											<span class="caption">Company</span>
										<% else %>	
											<span class="caption">Companies</span>
										<% end %>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-4 footer-widget">
                <h3>Recent Jobs</h3>
								<div class="post-recent-widget">
									<div class="row">
										<div class="col-sm-12">
											<div class="media">
												<div class="media-body">
													<% @jobs.first(3).each do |job| %>
													<h4 class="media-heading"><%= link_to job.job_title, company_job_post_path(job.company, job) %></h4>
													<p class="post-date"><%= job.created_at.strftime("%B %d, %Y") %></p>
													<% end %>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<p class="pull-left">Built by <a href="http://www.tonygaeta.com">Tony Gaeta.</a> © Copyright 2015</p>
						<ul class="social-links pull-right">
							<li><%= link_to '', 'http://www.twitter.com/stpeteio', class: "icon-twitter" %></li>
							<li><%= link_to '', 'http://www.facebook.com/stpeteio', class: "icon-facebook" %></li>
							<li><%= link_to '', 'http://plus.google.com/+stpeteio/', class: "icon-googleplus" %></li>
						</ul>
					</div>
				</div>
			</footer>
	</div>

	<div class="modal fade login" id="loginModal" aria-hidden="true">
		  <div class="modal-dialog login">
			  <div class="modal-content">
				 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Login to post a job:</h4>
				</div>
				<div class="modal-body">
					<div class="box">
						<div class="form loginBox">
							<%= form_for(:session, url: session_sign_in_path, method: :post, class: "myform") do |f| %>
								<div class="form-group">
									<label class="control-label"></label>
									<div class="controls">
					      		<%= f.email_field nil, class: "form-control", placeholder: "Email", name: "email", id: "email" %>
									</div>
									<div class="form-group">
										<label class="control-label"></label>
										<div class="controls">
					      			<%= f.password_field nil, class: "form-control", name: "password", id: "password", placeholder: "Password" %>
										</div>
									<%= f.label :remember_me, class: "checkbox inline" do %>
									 	<%= f.check_box :remember_me %>
									  <span>Remember Me</span>
									<% end %>
									<p class="text-center"><%= link_to "Forgot password?", new_password_reset_path %></p>
					      <%= f.submit "Login", class: "btn btn-block" %>
					    <% end %>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="forgot login-footer">
						<span>Need to
							<%= link_to "create an account", new_company_path %>
						?</span>
					</div>
				</div>
			  </div>
		  </div>
	  </div>
	</div>
