<div class="bg-with-search">
  <%= image_tag('dtsp.jpg', class: "img-responsive") %>
  <div class="search-container">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group">
        <%= form_tag root_path([@company, @job_post]), class: "search", :method => 'get', id: 'ajax_search' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", placeholder: "Search Jobs" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Jobs Around The Burg:</h2>
      <div id="jobs"><%= render 'jobs' %></div>
    <div class="col-md-4">
      <h2>Sidebar</h2>
      <% if !signed_in? %>
      <p><%= link_to 'Sign In', session_form_path %></p>
      <p><%= link_to 'Sign Up', new_company_path %></p>
      <% else %>
      <p><%= link_to 'Sign Out', session_sign_out_path, method: :delete %></p>
      <% end %>
    </div>
  </div>
</div>
