<%= bootstrap_form_for @job_application, id: "applyForm", url: {action: "apply"}, :html => {:multipart => true} do |f| %>
  <%= f.alert_message "Please fix the following errors." %>
  <%= f.text_field :first_name, label: "First Name *" %>
  <%= f.text_field :last_name, label: "Last Name *" %>
  <%= f.email_field :email, label: "E-mail *" %>
  <%= f.text_field :phone, label: "Phone Number" %>
  <%= f.file_field :resume, label: "Upload Resume *", help: ".pdf, .docx, .doc, .txt" %>
  <%= f.text_area :cover_letter, label: "Cover Letter" %>
  <%= f.url_field :link, label: "Link", help: "link to your github, online portfolio, blog" %>
  <%= f.hidden_field :company_id, value: @company.id %>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" type=
    "button">Cancel</button>
    <%= f.submit "Submit Application", class: "btn btn-primary" %>
  </div>
<% end %>
