= form_for @job_application, url: {action: "apply"}, :html => {:multipart => true, id: "applyForm", class: "form-horizontal"} do |f|
  .form-group
    %label.col-xs-3.control-label Full Name *
    .col-md-4
      = f.text_field :first_name, label: "First Name *", class:"form-control", placeholder: "First Name"
    .col-md-4
      = f.text_field :last_name, label: "Last Name *", class:"form-control", placeholder: "Last Name"
  .form-group
    %label.col-xs-3.control-label Email *
    .col-md-8
      = f.email_field :email, class: "form-control", label: "E-mail *"
  .form-group
    %label.col-xs-3.control-label Upload Resume *
    .col-md-8
      = f.file_field :resume
  .form-group
    %label.col-xs-3.control-label Cover Leter
    .col-md-8
      = f.text_area :cover_letter, label: "Cover Letter", class: "form-control", rows: "3"
  .form-group
    %label.col-xs-3.control-label Captcha
    .col-md-8
      / The captcha container
      #captchaContainer
  = hidden_field_tag :company_id, value: @company.id
  %br/
  %br/
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
    = f.submit "Submit Application", type: "submit", class: "btn btn-primary"
