<div class="container content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= flash_messages %>
      <h1>Post a Job</h1>
      <%= bootstrap_form_for([@company, @job_post]) do |f| %>
        <%= f.alert_message "Please fix the following errors." %>
        <%= f.text_field :job_title, label: "Position Title *" %>
        <%= f.label "Tag *", label: "Job Tag*" %>
        <%= f.hidden_field :job_tag, value: "",
                           id: "select_tag", label: "Job Tag *",
                           placeholder: "Industry" %>
        <%= f.text_area :job_description, label: "Describe the Position *", help: "Minimum 100 characters", rows: "8" %>
        <%= f.submit "Continue" %><%= link_to 'Go Home', root_path, class: "btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
</div>
