%nav.navbar.navbar-default.navbar-static-top
  .container
    %br/
    = link_to image_tag('SPJB.png', class: "img-responsive", id: 'logo2'), |
      root_path                                                            |
  %br/
.container.content
  .col-md-3
    .cards
      .card
        .card-header
          Update your job post.
        .card-copy
          %p
            All applications will be forwarded to #{@company.email}.
    .cards
      .card
        .card-header
          Notice!
        .card-copy
          %p SPJB is only for jobs located in St. Pete. Any job located outside of St. Pete will be deleted.
  .col-md-8
    = bootstrap_form_for([@company, @job_post]) do |f|
      = f.alert_message "Please fix the following errors."
      = f.text_field :job_title, label: "Position Title"
      = f.label :tag, label: "Job Tag"
      = f.hidden_field :job_tag, value: 'admin/office, business,
       customer service, education, engineering, finance, food/bevarage, general labor, government, healthcare, hospitality, human resources, internet, engineering, legal, manufacturing, marketing, media, nonprofit, real estate, retail/wholesale, sales, salon/spa/fitness, science, security, skilled trades, software, systems/networking, tech support, transportation, tv/video/radio, web design/development, writing, other', id: "select_tag", placeholder: "Tag your posting."
      = f.text_area :job_description, label: "Position Description", help: "Minimum 100 characters", rows: "8"
      = f.hidden_field :company_id
      = f.submit "Update"
      = link_to 'Go Home', root_path, class: "btn btn-primary pull-right"
