<p id="notice"><%= notice %></p>

<h1>Listing Job Posts</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Job title</th>
      <th>Job description</th>
      <th>Job tag</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_posts.each do |job_post| %>
      <tr>
        <td><%= job_post.logo %></td>
        <td><%= job_post.job_title %></td>
        <td><%= job_post.job_description %></td>
        <td><%= job_post.job_tag %></td>
        <td><%= job_post.company %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
