<div class="container"
<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @job_post.logo %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @job_post.job_title %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @job_post.job_description %>
</p>

<p>
  <strong>Job tag:</strong>
  <%= @job_post.job_tag %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job_post.company %>
</p>
</div>
