<div id="home">
	<div id="menu" class="menu-right">
		<form class="menu-search" >
			<div class="form-group header">
				<i class="icon-search searchico"></i>
				<%= form_tag root_path([@company, @job_post]), :method => 'get' do %>
					<%= text_field_tag :search, params[:search], placeholder: "Search jobs..." %>
				<% end %>
				<a href="#" class="close-menu"><i class="icon-close"></i></a>
			</div>
		</form>
		<ul>
      <% if !signed_in? %>
      <li><a href="#" data-toggle="modal" data-target="#loginModal">Post A Job</a></li>
      <% else %>
      <li><%= link_to 'Sign Out', session_sign_out_path, method: :delete %></li>
      <% end %>
      <% if !root_path %>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'About', root_path %></li>
			<% else %>
				<li><%= link_to 'About', root_path %></li>
			<% end %>
		</ul>
	</div>

	<div id="wrap">
		<div id="main-nav" class="">
			<div class="container">
				<div class="nav-header">
          <%= link_to "SPJB", root_path, class: "nav-brand" %>
						<a class="menu-link nav-icon" href="#"><i class="icon-menu2"></i></a>
					</div>
			</div>
		</div>

		<section id="hero" class="light-typo">
			<div id="cover-image" class="image-bg2 animated fadeIn"></div>
			<div class="container welcome-content">
				<div class="middle-text">
					<h1><%= @job_post.job_title %></h1>
					<h2><%= @job_post.company.name %></h2>
				</div>
			</div>
		</section>

		<div class="container content">
      <div class="col-md-2">
        <div>
					<% if @current_user.id == @job_post.company.id && @company.logo.blank? %>
						<%= link_to "Add your logo", edit_company_path(@current_user.id) %>
					<% elsif @job_post.company.logo.blank? %>
						<%= image_tag('spjb1.png', class: "img-responsive") %>
					<% else %>
						<%= image_tag(@job_post.company.logo, class: "img-responsive") %>
					<% end %>
        </div>
        <br>
        <p>Share this job:</p>
				<%= render 'social' %>
			</div>
			<div class="col-md-10">
				<div class="post-head">
					<div class="post-date">
						<%= @job_post.created_at.strftime("%B %d, %Y") %> | <%= link_to @job_post.company.name, @job_post.company.url %>
					</div>
          <br>
          <%= @job_post.job_description.html_safe %>
          <br><br>
          <button class="btn btn-primary btn-lg" data-target="#myModal" data-toggle=
          "modal" type="button">Apply</button>
				</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type=
				"button"><span>&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><%= @job_post.job_title %> at <%= @job_post.company.name %></h4>
			</div>
			<div class="modal-body">
				<%= render 'application' %>
			</div>
		</div>
	</div>
</div>
