
  <div class="container">

    <p><%= image_tag(@company.logo, class: "img-responsive") %></p>

    <p><strong>Company:</strong> <%= @job_post.company.name %></p>

    <p><strong>Job title:</strong> <%= @job_post.job_title %></p>

    <p class="label label-info"><%= @job_post.job_tag.upcase %></p><br>
    <br>
    <%= render 'social' %><br>
    <p><strong>Job description:</strong> <%= @job_post.job_description.html_safe %></p>
    <!-- Button trigger modal -->

    <button class="btn btn-primary btn-lg" data-target="#myModal" data-toggle=
    "modal" type="button">Apply</button> <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" type=
            "button"><span>&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"><%= @job_post.job_title %> at <%= @job_post.company.name %></h4>
          </div>
          <div class="modal-body">
            <%= render 'application' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @auto_show_modal %>
    <script>
    $(function(){
      $('#myModal').modal('show');
    })
    </script>
  <% end %>
</div>
