<div class="container"
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@company.logo, class: "img-responsive") %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @job_post.job_title %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @job_post.job_description %>
</p>

<p>
  <strong>Job tag:</strong>
  <%= @job_post.job_tag %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job_post.company.name %>
</p>
</div>
